<!DOCTYPE html>
<html>
  <head>
   <% include ../views/templates/head %>
  </head>
  <body>
    <header>
      <% include ../views/templates/nav %>
    </header>

<div class="container">
  <h1><%= title %></h1>
  <div <div class="row text-center">
    <h2><%= subtitle1 %></h1>
    <img id="foto" src="/images/yo.jpg" alt="Imagen de Adrián Gacía Espinosa" class="img-circle">
  </div>
  <div <div class="row text-center">
    <h2><%= subtitle2 %></h1>
  <iframe width="560" height="315"id="video" src="https://www.youtube.com/embed/JgGnnsLv5IU" frameborder="0" allowfullscreen></iframe>
  </div>

</div>


    <footer>
            <% include ../views/templates/footer %>
    </footer>

    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
  </body>

</html>
