<div class="container">
    <h1><%= title %></h1>
    <div class="row text-center">
        <h2><%= subtitle1 %></h2>
        <img id="foto" src="/images/yo.jpg" alt="Imagen de Adrián Gacía Espinosa" class="img-circle">
    </div>
    <div class="row text-center">
        <h2><%= subtitle2 %></h2>
        <iframe width="560" height="315" id="video" src="https://www.youtube.com/embed/JgGnnsLv5IU" frameborder="0" allowfullscreen></iframe>
    </div>

</div>
