<!-- AUTHOR PAGE -->
<div class="container">
    <h1><%= title %></h1>
    <div class="row text-center">
        <h2><%= subtitle1 %></h2>
        <a href="http://ageapps.cf">
            <img id="foto" src="/images/yo.jpg" alt="Imagen de Adrián Gacía Espinosa" class="img-circle">
        </a>
        &emsp;
        <a href="http://ageapps.cf">
            <img id="foto" src="/images/logo_age_web.png" alt="AGE Apps" class="img-circle">
        </a>
    </div>
</div>
