<div class="container">
    <h1></h1>
    <div class="jumbotron">
        <h1>Welcome to Quiz</h1>
        <p>The web portal where you can make your own games.</p>
        <p><a class="btn btn-primary btn-lg" href="/quizzes/new" role="button">Make Your Own Quiz</a></p>
        <img class="center-block" src="/images/quiz.png">
    </div>
</div>
