<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>
      <%= subtitle %>
    </p>
    <footer>
      <a href="https://github.com/ageapps/quiz_core">Mi proyecto en GitHub</a>
    </footer>
  </body>
</html>
