<div class="container">
    <h1></h1>
    <div class="jumbotron background-light">
        <h1>Welcome to
            <span><img id="indexImage" src="/images/quiz.png"></span>
        </h1>
        <p>The web portal where you can make your own games.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/quizzes/new" role="button">Make Your Own Quiz</a>
        </p>
    </div>
</div>
