<!DOCTYPE html>
<html>
  <head>
   <% include ../views/templates/head %>
  </head>
  <body>
    <header>
      <% include ../views/templates/nav %>
    </header>

<div class="container">
  <h1>Bienvenido a <%= title %></h1>
  <p>
    <%= subtitle %>
  </p>
</div>


    <footer>
            <% include ../views/templates/footer %>
    </footer>

    <% include ../views/templates/scripts %>
  </body>

</html>
