<!DOCTYPE html>
<html>
<head>
    <% include ../views/templates/head %>
</head>
<body>
<header>
    <% include ../views/templates/nav %>
</header>

<div class="container">
    <h1><%= title %></h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Custom search field</h2>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="Buscar"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <p>
        <a href="/question" class="btn btn-default">Empieza un Quiz</a>
    </p>
</div>
<footer>
    <% include ../views/templates/footer %>
</footer>

<% include ../views/templates/scripts %>
</body>

</html>
