<meta charset="utf-8">
<title><%= title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Web Personal de Adrían García Espinosa">
<meta name="author" content="Adrían García Espinosa">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<!-- Custom styles for this template -->
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<style>
body {
  padding-top: 50px;
   background: white;
}
</style>
