<meta charset="utf-8">
<title><%= title %></title>

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<!-- Custom styles for this template -->
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<style>
body {
  padding-top: 50px;
   background: white;
}
</style>
