/*Color Pallete
light color: #E3E8FA
medium color: #85A5CC
 logo color: #4a6491
 dark color: #30395C
 very dark color: #1A1F2B
 */

body {
    padding-top: 60px;
    background: #E3E8FA;
}
.btn-primary {
    background: #4a6491;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:hover {
    background: #30395C;
}
.open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-primary:hover {
    background: #30395C;
}
a {
    color: #4a6491;
}
a:hover {
    color: #30395C;
}
h1, h2, h3, h4, h5, h6 {
    color: #4a6491;
}
form .form-group div, form .form-group label {
    margin-bottom: 10px;
}
#indexImage {
    width: 300px;
}
footer img {
    border: 2px solid transparent;
}
footer img:hover {
    border: 2px solid #4a6491;
}
#brand img {
    height: 35px;
    margin-top: 10px;
}
.container .jumbotron {
    border-radius: 10px;
}
.background-light {
    background: #fff;
    border-radius: 10px;
}
.thead-default {
    color: #fff;
    background-color: #4a6491;
}
.transparent {
    background-color: transparent;
}
img.avatar.img-circle {
    width: 150px;
    height: 150px;
}
li.dropdown {
    margin-right: 15px;
}

/* Login View */
#login-dp {
    min-width: 250px;
    padding: 14px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}
#login-dp .help-block {
    font-size: 12px
}
#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}
#login-dp .social-buttons {
    margin: 12px 0
}
#login-dp .social-buttons a {
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    border-radius: 6px;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}
.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle-role {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}
.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}
.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}
.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}
.profile-usermenu {
    margin-top: 30px;
}
.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}
.profile-usermenu ul li:last-child {
    border-bottom: none;
}
.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}
.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}
.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}
.profile-usermenu ul li.active {
    border-bottom: none;
}
.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    min-height: 400px;
}
.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.icon-size {
    width: 87px;
    height: 87px;
}

/* Panel Tables */
.panel-table .panel-body {
    padding: 0;
}
.panel-table .panel-body .table-bordered {
    border-style: none;
    margin: 0;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align: center;
    width: 100px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type, .panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
    border-right: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type, .panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
    border-left: 0px;
}
.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
    border-bottom: 0px;
}
.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
    border-top: 0px;
}
.panel-table .panel-footer .pagination {
    margin: 0;
}

/* Vertically center elements in Grid of Quizzes */
.panel-table .panel-footer .col {
    line-height: 34px;
    height: 34px;
}
.panel-table .panel-heading .col h3 {
    line-height: 30px;
    height: 30px;
}
.panel-table .panel-body .table-bordered > tbody > tr > td {
    line-height: 34px;
}

/* Grid of quizzes */
.quizzContainer {
    position: relative;
    overflow: hidden;
    height: 180px;
}
.thumbnail_container {
    position: relative;
    height: 180px;
}
.thumbnail {
    position: absolute;
    width: 100%;
    height: 180px;
}
.thumbnail .quizzImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.quizzImage {
    max-height: 100%;
    max-width: 100%;
}
.caption {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(66, 139, 202, 0.75);
    width: 100%;
    height: 100%;
    padding: 2%;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}
.noFoto {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(66, 139, 202, 0.75);
    width: 100%;
    height: 180px;
    padding: 2%;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}
.noFoto a, .noFoto a:hover, .noFoto h4, .caption a, .caption a:hover, .caption h4 {
    color: #fff;
}
.noFoto a.btn-default, .caption a.btn-default {
    color: #4a6491;
}
.col-md-3, .row.container {
    margin-bottom: 10px;
}
.thumbnailComment {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #000;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
    .navbar-text {
        display: none;
    }
}
