<div class="container">
    <h1>Quiz the Question Game</h1>
    <h3>
       The answer <%= answer %> is  <%= result %>
    </h3>
    <br>
    <p>
        <a href="/quizzes/<%= quiz.id %>/?answer=<%= answer %>">Try Again</a>
    </p>
</div>
