<div class="container">
    <h1>Quiz el Juego de Preguntas</h1>
    <h3>
       La respuesta <%= answer %> es  <%= result %>
    </h3>
    <br>
    <p>
        <a href="/quizzes/<%= quiz.id %>/?answer=<%= answer %>">Intentalo de nuevo</a>
    </p>
</div>
