<script>
    function confirmPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;

        if (!pw1 || !pw2) {
            alert('You have to fill in Password and Repeat Password.');
            return false;
        }

        if (pw1 === pw2) {
            return true;
        } else {
            alert('Passwords have to be the same.');
            return false;
        }
    }
</script>
<div class="container">
    <h1></h1>
    <div class="jumbotron background-light">
        <div class="container">
            <form action="/users" class="form-sign-in col-sm-6 col-sm-offset-3 vcenter" method="post">
                <h2 class="form-signin-heading">New User</h2>
                <label>User</label>
                <input type="text" class="form-control" name="user[username]" placeholder="Enter your Username" required autofocus>
                <div class="col-xs-12" style="height:20px;"></div>
                <label>Mail</label>
                <input type="text" class="form-control" name="user[mail]" placeholder="Enter your Mail" required autofocus>
                <div class="col-xs-12" style="height:20px;"></div>
                <label>Password</label>
                <input type="password" id="user_password" name="user[password]" class="form-control" placeholder="Enter your Password" required />
                <div class="col-xs-12" style="height:10px;"></div>
                <input type="password" id="user_confirm_password" class="form-control" placeholder="Repeat your Password" required />
                <div class="col-xs-12" style="height:20px;"></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="return confirmPassword()">Submit</button>
                <div class="col-xs-12" style="height:10px;"></div>
                <div class="col-xs-12 text-center">
                <button type="reset" class="btn btn-primary">Reset</button>
                <a href="/">
                    <button type="button" class="btn btn-default">Cancel</button>
                </a>
                </div>
            </form>
        </div>
    </div>
</div>
